/** CSS RESET **/

* {
    margin: 0;
    padding: 0;
}

.Conteiner {
    max-width: 1080px;
    margin: o auto;
}

img {
    max-width: 100%;
}

/* efeito fade (esmaecimento desaparecimento) */

#slide {
    opacity: 1; /*100% visivel (0 a 1) */
    transition: opacity 1s;
}

#slide.FadeOut {
    opacity: 0.1; /* invisivel (0 a 1) */
}